<%- include('../partials/head') %>
  </head>
  <body>
  <%- include('../partials/header') %>
    <main class="mt-14 flex justify-center h-screen">
      <div class="w-2xl h-36 shadow-xl flex items-center justify-center flex-col gap-2">
        <h2 class="text-red-600 font-bold text-3xl">Home Registered Successfully</h2>
        <h4>Your home has been added to our listing.</h4>
        <a href="/" class="p-2 w-[150px] bg-red-500 text-center rounded-md">Return to Home</a>
      </div>
    </main>
  </body>
</html>
