<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="output.css">
  </head>
  <body>
    <header class="bg-blue-400">
    <nav class="flex">
      <img src="https://img.freepik.com/free-photo/anime-landscape-person-traveling_23-2151038157.jpg?ga=GA1.1.958668528.1727185349&semt=ais_hybrid&w=740" alt="" class="w-12 rounded-full object-cover mt-1 ml-1 mb-1 b-2 border border-blue-600">
      <ul class="flex ml-12 my-auto w-70">
        <li class="flex-1 text-center mr-2 rounded-md"><a href="/">Home</a></li>
        <li class="flex-1  text-center mr-2 rounded-md"><a href="/products">Products</a></li>
        <li class="flex-1  text-center mr-2 rounded-md"><a href="/favourite">Favourite</a></li>
        <li class="flex-1 border border-amber-100 text-center rounded-md"><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
    <main>
      <h1 class="mt-2 font-bold ml-2 text-2xl">About Us</h1>
      <h3 class="w-[90%] ml-3 mt-2 text-[12px]">
        We are the developers of this E-Commerce platform. We try to enhance your experience by prviding pleasant website with cool textures. You can Provide your contact so we will reach you out.
      </h3>
      <h2 class="mt-3 font-bold ml-2 text-2xl">Contact US</h2>
      <form action="/about" method="POST" class="flex flex-col w-[250px] items-center mt-2 bg-amber-200 ml-2 rounded-md h-40">
        <input type="text" name="name" placeholder="Enter Name" class="mt-4 bg-gray-500 p-1 rounded-md"/>
        <input type="number" name="rating" placeholder="Rate our site (1-5)" class="mt-4 bg-gray-500 p-1 rounded-md"/>
        <input type="submit" value="Submit" class="mt-4 bg-fuchsia-600 p-1 rounded-md"/>
      </form>
    </main>
  </body>
</html>
