<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="output.css" />
  </head>
  <body>
    <header class="bg-blue-400">
      <nav class="flex">
        <img
        src="https://img.freepik.com/free-photo/anime-landscape-person-traveling_23-2151038157.jpg?ga=GA1.1.958668528.1727185349&semt=ais_hybrid&w=740"
        " alt="" class="w-12 rounded-full object-cover mt-1 ml-1 mb-1 b-2 border
        border-blue-600" />
        <ul class="flex ml-12 my-auto w-70">
          <li
            class="flex-1 border border-amber-100 text-center mr-2 rounded-md"
          >
            <a href="/">Home</a>
          </li>
          <li class="flex-1 text-center mr-2 rounded-md">
            <a href="/products">Products</a>
          </li>
          <li class="flex-1 text-center mr-2 rounded-md">
            <a href="/favourite">Favourite</a>
          </li>
          <li class="flex-1 text-center rounded-md">
            <a href="/about">About</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="pb-5">
      <div class="mt-2">
        <h2 class="ml-3 font-sans text-2xl">Clothes</h2>
        <div class="flex mt-2 ml-2 gap-2 flex-wrap">
          <div
            class="rounded-md border border-gray-600 h-35 w-35 flex flex-col items-center"
          >
            <img
              class="w-40 h-20 mt-1 object-contain"
              src="https://img.freepik.com/free-photo/jeans_1203-8093.jpg?ga=GA1.1.958668528.1727185349&semt=ais_hybrid&w=740"
              alt=""
            />
            <h2 class="text-xl mt-0.5 mr-5">Cool Jeans</h2>
            <p class="mr-15 mt-[-5px] text-[14px]">Rs. 1590</p>
          </div>
          <div class="rounded-md border border-gray-600 h-35 w-35 flex flex-col items-center">
            <img
              class="w-40 h-20 mt-1 object-contain"
              src="https://img.freepik.com/free-photo/business-casual-shirt-white-closeup-outdoor-photoshoot_53876-119744.jpg?ga=GA1.1.958668528.1727185349&semt=ais_hybrid&w=740"
              alt=""
            />
            <h2 class="text-[18px] mt-0.5 mr-5">Formal Shirt</h2>
            <h4 class="mr-15 mt-[-5px] text-[14px]">Rs. 1200</h4>
          </div>
          <div class="rounded-md border border-gray-600 h-35 w-35 flex flex-col items-center">
            <img
              class="w-40 h-20 mt-1 object-contain"
              src="https://img.freepik.com/free-vector/simple-flat-i-heart-you-valentine-s-day-t-shirt_742173-14411.jpg?ga=GA1.1.958668528.1727185349&semt=ais_hybrid&w=740"
              alt=""
            />
            <h2 class="text-[18px] mt-0.5 mr-14">T-Shirt</h2>
            <h4 class="mr-15 mt-[-5px] text-[14px]">Rs. 999</h4>
          </div>
          <div class="rounded-md border border-gray-600 h-35 w-35 flex flex-col items-center">
            <img
             class="w-40 h-20 mt-1 object-contain"
              src="https://img.freepik.com/free-photo/close-up-new-york-man-fashionable-jacket_23-2150868236.jpg?ga=GA1.1.958668528.1727185349&semt=ais_hybrid&w=740"
              alt=""
            />
            <h2 class="text-[18px] mt-0.5 mr-1">Leather Jacket</h2>
            <h4 class="mr-15 mt-[-5px] text-[14px]">Rs. 1990</h4>
          </div>
          <div class="rounded-md border border-gray-600 h-35 w-35 flex flex-col items-center">
            <img
              class="w-40 h-20 mt-1 object-contain"
              src="https://img.freepik.com/free-vector/hand-drawn-woman-wearing-sari-illustration_23-2149690582.jpg?ga=GA1.1.958668528.1727185349&semt=ais_hybrid&w=740"
              alt=""
            />
            <h2 class="text-[18px] mt-0.5 mr-1">Traditional Saree</h2>
            <h4 class="mr-15 mt-[-5px] text-[14px]">Rs. 2500</h4>
          </div>
          <div class="rounded-md border border-gray-600 h-35 w-35 flex flex-col items-center">
            <img
              class="w-40 h-20 mt-1 object-contain"
              src="https://img.freepik.com/free-photo/man-wearing-beige-shorts-close-up_53876-125260.jpg?ga=GA1.1.958668528.1727185349&semt=ais_hybrid&w=740"
              alt=""
            />
            <h2 class="text-[18px] mt-0.5 mr-14">Shorts</h2>
            <h4 class="mr-15 mt-[-5px] text-[14px]">Rs. 750</h4>
          </div>
          <div class="rounded-md border border-gray-600 h-35 w-35 flex flex-col items-center">
            <img
              class="w-40 h-20 mt-1 object-contain"
              src="https://img.freepik.com/free-photo/medium-shot-curly-woman-red-t-shirt-posing_23-2148628957.jpg?ga=GA1.1.958668528.1727185349&semt=ais_hybrid&w=740"
              alt=""
            />
            <h2 class="text-[18px] mt-0.5 mr-11">Girl's Top</h2>
            <h4 class="mr-15 mt-[-5px] text-[14px]">Rs. 1750</h4>
          </div>
          <div class="rounded-md border border-gray-600 h-35 w-35 flex flex-col items-center">
            <img
              class="w-40 h-20 mt-1 object-contain"
              src="https://img.freepik.com/free-photo/portrait-businesswoman_23-2148137670.jpg?ga=GA1.1.958668528.1727185349&semt=ais_hybrid&w=740"
              alt=""
            />
            <h2 class="text-[18px] mt-0.5 mr-2">Formal Outfit</h2>
            <h4 class="mr-15 mt-[-5px] text-[14px]">Rs. 3599</h4>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
